@use 'base/variables' as var;
@use 'base/mixins' as mix;

.navegacion {
    display: flex;
    flex-direction: column;
    @include mix.tablet {
        flex-direction: row;
    }

    &__enlace {
        color: var.$blanco;
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem;
        display: block;
        text-align: center;
        &:hover {
            background-color: var.$blanco;
            color: var.$azul;
        }
    }
}