@use 'base/mixins' as mix;
@use 'base/variables' as var;

.error {
    @include mix.contenedor;
    text-align: center;

    &__contenido {
        font-size: 2.4rem;
        font-size: var.$bold;
        color: var.$gris-oscuro;
    }

    &__enlace {
        margin-top: 3rem;
        color: var.$azul;
    }
}